:root {
    --grn: mediumspringgreen;
}

body {
    background-color: lightgoldenrodyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header  {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    color: var(--grn);
}

pre {
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
} 

h2 {
    color: var(--grn);
}

p {
    color: var();
}

main, section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    border-radius: 10px;
    border-style: double;
    background-color: var(--grn);
    margin: 6px;
    width: auto;
    flex: 1 1 ;
}

article li {
    list-style: none;
}

footer {
    color: var(--grn);
    text-align: center;
    padding: 8px;
}